<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add connectionString="Data Source=192.168.1.242;Initial Catalog=SchoolCubeBase;User ID=sa;password=sa@2016" name="connStr"/>
    <!--统一认证中心地址-->
    <add connectionString="http://192.168.1.148:8003/" name="Unified_HandlerUrl"/>
    <add connectionString="Unified_SchoolCube" name="SysAccountNo"/>
    <!--本系统接口地址-->
    <add name="HttpService" connectionString="http://localhost:36602/" />
    <!--<add name="HttpService" connectionString="http://192.168.1.148:8887/" />-->    
    <add connectionString="/Login.aspx" name="LoginPage"/>
  </connectionStrings>
  <appSettings>
    <add key="TokenPath" value="http://192.168.1.148:3002/SSO_Server/Handles/SSO_ServerCenter.ashx" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>