
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1486546381032'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1486546381032#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1486546381032') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1486546381032') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1486546381032#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-settings:before { content: "\e601"; }

.icon-home:before { content: "\e600"; }

.icon-home1:before { content: "\e651"; }

.icon-heduishijuan:before { content: "\e60f"; }

.icon-mokuaiguanli:before { content: "\e65f"; }

.icon-search:before { content: "\e611"; }

.icon-message:before { content: "\e60d"; }

.icon-up:before { content: "\e751"; }

.icon-date:before { content: "\e625"; }

.icon-close:before { content: "\e602"; }

.icon-ziyuanku:before { content: "\e603"; }

.icon-praise:before { content: "\e61f"; }

.icon-msnui-disk-cloud:before { content: "\e719"; }

.icon-settings1:before { content: "\e63b"; }

.icon-down:before { content: "\e723"; }

.icon-wenjuan:before { content: "\e65c"; }

.icon-crowd:before { content: "\e6f6"; }

.icon-kecheng:before { content: "\e67b"; }

.icon-edit:before { content: "\e609"; }

.icon-shang:before { content: "\e650"; }

.icon-huodong1:before { content: "\e61e"; }

.icon-study:before { content: "\e60e"; }

.icon-language:before { content: "\e647"; }

.icon-huodong:before { content: "\e606"; }

.icon-xiangce:before { content: "\e7d3"; }

.icon-add:before { content: "\e605"; }

.icon-orangize:before { content: "\e654"; }

.icon-other:before { content: "\e612"; }

.icon-album:before { content: "\e891"; }

.icon-loadding:before { content: "\e6d7"; }

.icon-bianmu:before { content: "\e604"; }

.icon-kaoshi:before { content: "\e62a"; }

.icon-shanxiyidongduankaoqinjiankongzhishikushouye03:before { content: "\e66a"; }

.icon-activity:before { content: "\e615"; }

.icon-bianji:before { content: "\e62e"; }

.icon-tuan:before { content: "\e776"; }

.icon-manage:before { content: "\e638"; }

.icon-sport:before { content: "\e684"; }

.icon-place:before { content: "\e631"; }

.icon-man:before { content: "\e634"; }

.icon-check:before { content: "\e655"; }

.icon-ziyuan1:before { content: "\e607"; }

.icon-xia:before { content: "\e62d"; }

.icon-shouquanguanli:before { content: "\e6cb"; }

.icon-renwukecheng:before { content: "\e633"; }

.icon-duanxin:before { content: "\e648"; }

.icon-xuexi:before { content: "\e608"; }

.icon-xietong:before { content: "\e632"; }

.icon-heart:before { content: "\e639"; }

.icon-kechengguanli:before { content: "\e610"; }

.icon-woman:before { content: "\e65a"; }

.icon-see:before { content: "\e63f"; }

.icon-commit:before { content: "\e7e9"; }

.icon-xiaoben:before { content: "\e60b"; }

.icon-member:before { content: "\e664"; }

.icon-left:before { content: "\e60a"; }

.icon-people:before { content: "\e6e0"; }

.icon-right:before { content: "\e629"; }

.icon-ziyuan:before { content: "\e613"; }

.icon-entertain:before { content: "\e646"; }

.icon-studenthui:before { content: "\e677"; }

.icon-renzheng:before { content: "\e6ac"; }

.icon-all:before { content: "\e60c"; }

.icon-oa1:before { content: "\e614"; }

.icon-yunpan:before { content: "\e61d"; }

.icon-ziyuanzu:before { content: "\e636"; }

.icon-ziyuanku1:before { content: "\e659"; }

.icon-xuanke:before { content: "\e618"; }

